# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/zzbets.iml
__pycache__/
bets/
db.sqlite3
manage.py
profile_image/
static/
templates/
venv/
zzbets/
